/*@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');*/
@import "layout/header.scss";
@import "layout/main.scss";
$bg-light-purple: #E3DFFF;
$bg-darker-purple: #c6bff5;
$bg-line-color: rgb(172, 161, 244);
body {
    margin: 0;
    font-family: 'Lato';
    background-color: $bg-light-purple;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    background-size: cover;
    backdrop-filter: blur(3px);

    div.main {
        flex: 1;
    }


    

}