/*@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');*/
div.header {
  z-index: 10;
  /*For fixes
    img, label, ul {
        border: 1px solid white;
    }*/
  padding: 0.7rem 2rem;
  height: min-content;
  background-color: #8c52ff;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

div.header img {
  width: 150px;
}

div.header input {
  display: none;
}

div.header label {
  justify-self: end;
  width: 38px;
  height: 34px;
  position: relative;
}

div.header label div.line {
  width: 38px;
  position: absolute;
  left: 0;
  border: 1px solid white;
  background-color: white;
  transition: all 0.15s ease-in-out;
}

div.header label div.line1 {
  top: 0px;
}

div.header label div.line2 {
  top: 16px;
  transition-duration: 0.1s;
}

div.header label div.line3 {
  top: 32px;
}

div.header label:hover {
  cursor: pointer;
}

div.header ul {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  height: 0;
  overflow-y: hidden;
  color: white;
  row-gap: 1rem;
  transition: all 0.2s;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  display: grid;
}

div.header ul li {
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  transition: all 0.1s ease-in-out;
}

div.header ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

div.header ul li img {
  margin-left: 10px;
  width: 25px;
}

div.header ul li:hover {
  transform: translateX(30px) scale(1.05);
}

div.header ul li:hover a {
  color: black;
}

div.header input:checked ~ label div.line1 {
  top: 16px;
  transform: rotate(45deg);
}

div.header input:checked ~ label div.line2 {
  opacity: 0;
}

div.header input:checked ~ label div.line3 {
  top: 16px;
  transform: rotate(-45deg);
}

div.header input:checked ~ ul {
  margin-top: 1rem;
  height: min-content;
}

@media screen and (min-width: 960px) {
  div.header {
    display: flex;
    justify-content: space-between;
  }
  div.header ul {
    padding: 1rem;
  }
  div.header img {
    width: 200px;
  }
  div.header label {
    display: none;
  }
  div.header ul {
    display: flex;
    height: min-content;
    flex-direction: row;
  }
  div.header ul li {
    font-size: 1.5rem;
    border: none;
  }
  div.header ul li:hover {
    transform: scale(1.05) translateY(-2px);
  }
}

@media screen and (min-width: 579px) {
  div.header img {
    width: 170px;
  }
  div.header ul li {
    height: min-content;
  }
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.main * {
  font-family: monospace;
}

div.main div.threeD-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: relative;
}

div.main div.threeD-container div {
  position: absolute;
  width: 240px;
  height: 400px;
}

div.main div.threeD-container div.front {
  text-align: center;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b18cfd;
}

div.main div.threeD-container div.front p {
  padding: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

div.main div.threeD-container div.front p span {
  font-size: 2rem;
  margin: 0;
  color: black;
  font-weight: 600;
}

div.main div.threeD-container div.front button {
  background-color: #9661ff;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  transition: all 0.2s;
}

div.main div.threeD-container div.front button:hover {
  cursor: pointer;
  background-color: #6e29f7;
}

div.main div.threeD-container div.back1 {
  z-index: 3;
  transform: translate(10px, 10px);
  background-color: #9661ff;
}

div.main div.threeD-container div.back2 {
  z-index: 2;
  transform: translate(20px, 20px);
  background-color: #b18cfd;
}

div.main div.current-actions {
  display: none;
  border: 2px solid black;
}

@media screen and (min-width: 669px) {
  div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.main div.threeD-container {
    transform: scale(1.6);
  }
}

body {
  margin: 0;
  overflow: hidden;
}

.background span {
  width: 60vmin;
  height: 60vmin;
  border-radius: 60vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(1) {
  color: #583C87;
  top: 68%;
  left: 9%;
  animation-duration: 22.6s;
  animation-delay: -10.4s;
  transform-origin: 24vw 5vh;
  box-shadow: -120vmin 0 36.72614vmin currentColor;
}

.background span:nth-child(2) {
  color: #FFACAC;
  top: 28%;
  left: 75%;
  animation-duration: 21.1s;
  animation-delay: -11.8s;
  transform-origin: -22vw -7vh;
  box-shadow: 120vmin 0 33.84609vmin currentColor;
}

.background span:nth-child(3) {
  color: #FFACAC;
  top: 27%;
  left: 62%;
  animation-duration: 26.8s;
  animation-delay: -13.1s;
  transform-origin: -11vw -24vh;
  box-shadow: -120vmin 0 28.79837vmin currentColor;
}

.background span:nth-child(4) {
  color: #E45A84;
  top: 41%;
  left: 81%;
  animation-duration: 24.6s;
  animation-delay: -15.2s;
  transform-origin: 14vw 6vh;
  box-shadow: -120vmin 0 38.15119vmin currentColor;
}

.background span:nth-child(5) {
  color: #FFACAC;
  top: 91%;
  left: 84%;
  animation-duration: 12s;
  animation-delay: -11.8s;
  transform-origin: -9vw -5vh;
  box-shadow: -120vmin 0 44.33693vmin currentColor;
}

.background span:nth-child(6) {
  color: #E45A84;
  top: 96%;
  left: 24%;
  animation-duration: 15.1s;
  animation-delay: -9.6s;
  transform-origin: 12vw 7vh;
  box-shadow: -120vmin 0 41.80665vmin currentColor;
}

.background span:nth-child(7) {
  color: #FFACAC;
  top: 60%;
  left: 51%;
  animation-duration: 17s;
  animation-delay: -14.8s;
  transform-origin: -5vw 12vh;
  box-shadow: -120vmin 0 34.88941vmin currentColor;
}

.background span:nth-child(8) {
  color: #583C87;
  top: 6%;
  left: 96%;
  animation-duration: 23.1s;
  animation-delay: -5.4s;
  transform-origin: 1vw 2vh;
  box-shadow: -120vmin 0 25.65815vmin currentColor;
}

.background span:nth-child(9) {
  color: #FFACAC;
  top: 36%;
  left: 26%;
  animation-duration: 12.6s;
  animation-delay: -19.1s;
  transform-origin: -2vw -7vh;
  box-shadow: 120vmin 0 42.94299vmin currentColor;
}

.background span:nth-child(10) {
  color: #FFACAC;
  top: 20%;
  left: 73%;
  animation-duration: 12.8s;
  animation-delay: -23s;
  transform-origin: 20vw 4vh;
  box-shadow: 120vmin 0 22.44092vmin currentColor;
}

.background span:nth-child(11) {
  color: #FFACAC;
  top: 93%;
  left: 90%;
  animation-duration: 20.7s;
  animation-delay: -19.2s;
  transform-origin: 3vw 8vh;
  box-shadow: 120vmin 0 24.57821vmin currentColor;
}

.background span:nth-child(12) {
  color: #E45A84;
  top: 58%;
  left: 79%;
  animation-duration: 10.7s;
  animation-delay: -14.7s;
  transform-origin: -14vw 4vh;
  box-shadow: 120vmin 0 44.12539vmin currentColor;
}

.background span:nth-child(13) {
  color: #FFACAC;
  top: 34%;
  left: 46%;
  animation-duration: 15s;
  animation-delay: -1.4s;
  transform-origin: 18vw -22vh;
  box-shadow: 120vmin 0 21.97514vmin currentColor;
}

.background span:nth-child(14) {
  color: #E45A84;
  top: 4%;
  left: 36%;
  animation-duration: 21.3s;
  animation-delay: -10.3s;
  transform-origin: 12vw -17vh;
  box-shadow: 120vmin 0 39.01744vmin currentColor;
}

.background span:nth-child(15) {
  color: #E45A84;
  top: 25%;
  left: 15%;
  animation-duration: 29s;
  animation-delay: -4.2s;
  transform-origin: 24vw -16vh;
  box-shadow: 120vmin 0 34.56977vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

div.footer {
  z-index: 2;
  background-color: #8c52ff;
}

body {
  margin: 0;
  font-family: 'Lato';
  background-color: #E3DFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body * {
  -webkit-tap-highlight-color: transparent;
}

body div.main {
  flex: 1;
}
